<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Студенты и сессия</title>
</head>

<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                    <th>Пол</th>
                    <th>Дата рождения</th>
                    <th>Группа</th>
                    <th>Оценка 1</th>
                    <th>Оценка 2</th>
                    <th>Оценка 3</th>
                    <th>Оценка 4</th>
                </tr>
            </thead>

            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.surname }}</td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.midname }}</td>
                    <td>{{ student.gender }}</td>
                    <td>{{ student.bday }}</td>
                    <td>{{ student.group }}</td>

                    {% if student.exams %}
                    <td>{{ student.exams.grade_first }}</td>
                    <td>{{ student.exams.grade_second }}</td>
                    <td>{{ student.exams.grade_third }}</td>
                    <td>{{ student.exams.grade_fourth }}</td>
                    {% else %}
                    <td>Оценки не введены</td>
                    {% endif %}

                    <td>
                        <a href="{% url 'edit_student' student.id %}">Редактировать</a> |<a
                            href="{% url 'edit_exams' student.id %}">Редактировать оценки</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>